<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Great Job!
    <form method="post" action="/add_tweet">
        <div>
            <label>Title</label>
            <div>
                <input type="text"  name="title" >
            </div>
        </div>

        <div>
            <label>Text</label>
            <div>
                <input type="text"  name="bio1" >
            </div>
        </div>
        <input type="submit" value="Submit"/>
        <!-- <button type="submit"><a href="/tweets">submit</a></button> -->
    </form>
    
    <br>
    <button><a href="/signout">sign out</a></button>
</body>
</html>